.Content-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    height: auto;
    min-height: 60vh;
    padding-bottom: 16px;
    padding-top: 16px;
}

.Grid-Row 
{
    display:flex;
    flex-direction:row;
    grid-column: 1 / -1;
}

.Row-Container 
{
    flex: 1;
    overflow: hidden;
    height: 100%;
    box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.15);
}

.Row-Container > img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.Grid-Box 
{
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.15);
}

.Title-Box 
{
    flex: 0 0 auto;
    min-height: 0;
    max-height: 10%;
}

.Content-Box 
{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.Event-List {
    display: flex;
    flex-direction: column;
    gap: 12px;
}