<footer class="Footer">

    <div class="Footer-Column">
        <h4>Backend</h4>
        <p>Minu suurim tugevus</p>
    </div>

    <div class="Footer-Column">
        <h4>Disain</h4>
        <p>Ilma figmata on raske</p>
    </div>

    <div class="Footer-Column">
        <h4>Frontend</h4>
        <p>Luua ma oskan</p>
    </div>

    <div class="Footer-Column">
        <h4>Test</h4>
        <p>Testbook</p>
        <p>Testgram</p>
    </div>

</footer>

@code {

}
