<div class="Banner">

    <div class="Banner-Text Text-Header Text-Header--Center">
        <h1>@BannerTitle</h1>
    </div>

    <div class="Banner-Image">
        <img src="images/libled.jpg" alt="Banner" />
    </div>

</div>

@code 
{
    [Parameter]
    public string BannerTitle { get; set; } = "";
}
